$red : red;
$orange:orange;
$yellow:yellow;
$green:#76EE00;
$blue:#00ffff;
$indigo:pink;
$violet:violet;
$white:white;

body {
  background-color:#333;
  color:#fff;
  font-family: 'Open Sans', sans-serif;

  h1, h2{
    margin-bottom:0;
  }

  h2+p{
    margin-top:0;
  }



  /*  SECTIONS  */
  .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }

  /*  GRID OF FIVE  */
  .span_5_of_5 {
    width: 100%;
  }
  .span_4_of_5 {
    width: 79.68%;
  }
  .span_3_of_5 {
    width: 59.36%;
  }
  .span_2_of_5 {
    width: 39.04%;
  }
  .span_1_of_5 {
    width: 18.72%;
  }

  /*  GO FULL WIDTH BELOW 480 PIXELS */
  @media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
  }










  .tweet{
      width:95%;border:3px solid #eee;margin-bottom:1em;
      border-radius: 5px 20px 5px;
      -webkit-border-radius: 5px 20px 5px;
      -moz-border-radius: 5px 20px 5px;
      padding:0.3em;
      padding-bottom:2em;

      span.time{
        width:100%;margin-top:0.5em;color:$yellow;float:right;text-align:right;clear:both;
      }

    }

  #twitter{
    h2{color:$red;}
    .tweet{border-color:$white;}
  }

  #weather{
    h2{color:$orange;}
  }

  #traffic{
    h2{color:$yellow;}
  }

  #tynetunnel{
    h2{color:$green;}
  }

  #metro{
    h2{color:$blue;}
  }

  #whatson{
    h2{color:$indigo;}
  }

  #cobalt{
    h2{color:$violet;}
  }

  #offers{
    h2{color:$white;}
  }

    /*  GO FULL WIDTH BELOW 480 PIXELS */
    @media only screen and (max-width: 480px) {
      .col {
        margin: 1% 0 1% 0%;
      }
      .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 {
        width: 100%;
      }
    }

}