body {
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  /*  SECTIONS  */
  /*  COLUMN SETUP  */
  /*  GROUPING  */
  /*  GRID OF FIVE  */
  /*  GO FULL WIDTH BELOW 480 PIXELS */
  /*  GO FULL WIDTH BELOW 480 PIXELS */ }
  body h1, body h2 {
    margin-bottom: 0; }
  body h2 + p {
    margin-top: 0; }
  body .section {
    clear: both;
    padding: 0px;
    margin: 0px; }
  body .col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%; }
  body .col:first-child {
    margin-left: 0; }
  body .group:before,
  body .group:after {
    content: "";
    display: table; }
  body .group:after {
    clear: both; }
  body .group {
    zoom: 1;
    /* For IE 6/7 */ }
  body .span_5_of_5 {
    width: 100%; }
  body .span_4_of_5 {
    width: 79.68%; }
  body .span_3_of_5 {
    width: 59.36%; }
  body .span_2_of_5 {
    width: 39.04%; }
  body .span_1_of_5 {
    width: 18.72%; }
  @media only screen and (max-width: 480px) {
    body .col {
      margin: 1% 0 1% 0%; }
    body .span_1_of_5, body .span_2_of_5, body .span_3_of_5, body .span_4_of_5, body .span_5_of_5 {
      width: 100%; } }
  body .tweet {
    width: 95%;
    border: 3px solid #eee;
    margin-bottom: 1em;
    border-radius: 5px 20px 5px;
    -webkit-border-radius: 5px 20px 5px;
    -moz-border-radius: 5px 20px 5px;
    padding: 0.3em;
    padding-bottom: 2em; }
    body .tweet span.time {
      width: 100%;
      margin-top: 0.5em;
      color: yellow;
      float: right;
      text-align: right;
      clear: both; }
  body #twitter h2 {
    color: red; }
  body #twitter .tweet {
    border-color: white; }
  body #weather h2 {
    color: orange; }
  body #traffic h2 {
    color: yellow; }
  body #tynetunnel h2 {
    color: #76EE00; }
  body #metro h2 {
    color: #00ffff; }
  body #whatson h2 {
    color: pink; }
  body #cobalt h2 {
    color: violet; }
  body #offers h2 {
    color: white; }
  @media only screen and (max-width: 480px) {
    body .col {
      margin: 1% 0 1% 0%; }
    body .span_1_of_5, body .span_2_of_5, body .span_3_of_5, body .span_4_of_5, body .span_5_of_5 {
      width: 100%; } }

/*# sourceMappingURL=feeder.css.map */
